smartevents/DASADA-Component-Status-Schema.xsd

<?xml version="1.0" encoding="UTF-8" ?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="dasada-component-status" type="DasadaComponentStatusType">
	<xs:annotation>
		<xs:documentation>Component Status information for a probe event</xs:documentation>
	</xs:annotation>
</xs:element>
<xs:complexType name="DasadaComponentStatusType">
	<xs:sequence>
		<xs:element name="stCodeType" type="xs:string"/>
		<xs:element name="sourceApp" type="xs:string"/>
		<xs:element name="description" type="xs:string"/>
	</xs:sequence>
</xs:complexType>		
</xs:schema>